backend:
  name: git-gateway
  branch: master
media_folder: content/posts/2020/img
public_folder: /img

display_url: https://preetsuthar.me
logo_url: src/img/nano-favicon.png

publish_mode: editorial_workflow
collections:
  - name: 'blog'
    label: 'Blog'
    folder: 'content/posts/2020'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    description: 'Add blog posts to Preet Suthar Blog'
    preview_path: 'posts/{{year}}/{{filename}}.{{extension}}'

    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Date', name: 'date', widget: 'datetime' }
      - { label: 'Published', name: 'published', default: true }
      - { label: 'Cover', name: 'cover', widget: 'image', required: false }
      - { label: 'Body', name: 'body', widget: 'markdown' }
